footer {
  background-color: #00713c;
  display: flex;
  align-items: center;
  justify-content: center;
}

address {
  font-family: 'Chivo', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 1rem;
}
